ci:
  skip: [
    pip-compile
  ]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: debug-statements
    -   id: name-tests-test

-   repo: https://github.com/jazzband/pip-tools
    rev: 6.9.0
    hooks:
      - id: pip-compile
        name: pip-compile pyproject.toml
        files: ^(pyproject\.toml|requirements\.txt)$
        args: [pyproject.toml]
      - id: pip-compile
        name: pip-compile dev
        files: ^(pyproject\.toml|requirements\.txt)$
        args: [--extra=dev, --output-file=requirements-dev.txt, pyproject.toml]

-   repo: https://github.com/asottile/reorder_python_imports
    rev: v3.8.5
    hooks:
    -   id: reorder-python-imports
        args: [--py37-plus, --add-import, 'from __future__ import annotations']

-   repo: https://github.com/asottile/pyupgrade
    rev: v3.1.0
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]

-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.982
    hooks:
    -   id: mypy
        additional_dependencies: [types-all]
