{% set budget_id = request.args.get('budget', '0') | int %}

{% set month = request.args.get('month') %}
{% if not month%}
{% set month = extension.get_budget_months(budget_id)[-1] %}
{% endif %}

{% set bootstrap = extension.bootstrap(budget_id, month) %}

<div class="headerline">
  {% for budget in bootstrap.budgets %}
  <h3>
    {%- if budget_id == loop.index0 -%}
      {{ budget.name }}
    {%- else -%}
      <a href="{{ url_for('extension_report', extension_name='EnvelopeBudget', budget=loop.index0) }}">{{ budget.name }}</a>
    {%- endif -%}
  </h3>
  {% endfor %}
</div>

<div class="headerline">
  {% for m in bootstrap.months %}
  <h3>
    {%- if month == m -%}
      {{ m }}
    {%- else -%}
      <a href="{{ url_for('extension_report', extension_name='EnvelopeBudget', budget=budget_id, month=m) }}">{{ m }}</a>
    {%- endif -%}
  </h3>
  {% endfor %}
</div>

<h3>{{ month }}</h3>

{% import "_query_table.html" as querytable with context %}

{{ querytable.querytable(ledger, None, bootstrap.top[0], bootstrap.top[1]) }}
{{ querytable.querytable(ledger, None, bootstrap.envelopes[0], bootstrap.envelopes[1]) }}
